<div class="sidebar col-md-4 mt20">
  {{ if .Params.img }}
    <div class="post-img">
      {{ with .Resources.Match .Params.img }}
        {{ range . }}
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  {{ if .Params.tags }}
    {{ $added := newScratch }}
    {{ $added.Set .Permalink true }}
    <div class="mt10 related">
      <h2>Related articles</h2>
        <div class="tags"><small>Tags: {{ delimit .Params.tags ", " " and "}}</small></div>
        <ul>
        {{ $tags := .Site.Taxonomies.tags }}
        {{ range $tag := .Params.tags }}
          {{ range (index $tags $tag).Pages }}
            {{ if not ($added.Get .Permalink) }}
              {{ $added.Set .Permalink true }}
              <li>
                <p><a href="{{ .Permalink }}">{{ .Title }}</a>
                  <br><small>{{ .Date.Format "January 2, 2006" }}</small>
                </p>
              </li>
            {{ end }}
          {{ end }}
        {{end}}
        </ul>
    </div>
  {{ end }}

  <div class="mt10 recent">
    <h2>Recent articles</h2>        
     <ul>
        {{ range first 3 (where .Site.RegularPages "Section" "posts") }}
          <li>
            <p><a href="{{ .Permalink }}">{{ .Title }}</a>
              <br><small>{{ .Date.Format "January 2, 2006" }}</small>
            </p>
          </li>
        {{ end }}
      </ul>
  </div>
</div>
